<!-- BEM -->
<nav class="nav">
  <ul class="nav__list">
    <!-- link do pustego routa -->
    <li class="nav__item">
      <a routerLink="/" class="nav__link">Home</a>
    </li>
    
    <li class="nav__item">
      <a routerLink="/portfolio" class="nav__link">Portfolio</a>
    </li>

    <li class="nav__item">
      <a routerLink="/todo-list" class="nav__link">Todo</a>
    </li>

    <li class="nav__item">
      <a routerLink="/teammates" class="nav__link">TeamMates</a>
    </li>
  </ul>
</nav>
